# Spider-Man Overlay for Retropie 4.x - Retroarch
# Lr-Mame2003 (latest version with correct aspect ratio) w 1080p Display
# 
# Overlay created by simbz23
# Original logos, artwork and trademarks are property of their respective owners. 

# video_scale_integer = true

overlays = 1
overlay0_overlay = "spidey_simbz23-ovl.png"
overlay0_rect = "0.0,0.0,1.0,1.0"
overlay0_full_screen = true
overlay0_descs = 0 