# Alien Syndrome Overlay for Retropie 4.x - Retroarch
# Lr-Mame2003 (latest version with correct aspect ratio) w 1080p Display
# 
# Overlay created by edwardsd97 (Mar 2018)
# Original logos, artwork and trademarks are property of their respective owners. 

input_overlay = "/opt/retropie/emulators/retroarch/overlays/arcade-bezels/aliensyn.cfg"
input_overlay_enable = true
input_overlay_opacity = 0.850000
input_overlay_scale = 1.000000

#uncomment for crt curvature overlay
#video_shader_enable = "true"
#video_shader = "~/.config/retroarch/shaders/crt-pi-curvature.glslp"