# Super Mario RPG - Legend of the Seven Stars (USA) Overlay for Retropie 4.x - Retroarch
# Lr-SNES9x2010 (latest version with correct aspect ratio) w 1080p Display
# 
# Overlay created by Lilbud (Jan 2018)
# Original logos, artwork and trademarks are property of their respective owners. 
# NOT FOR COMMERCIAL USE

overlays = 1
overlay0_overlay = "supermariorpg_lilbud-ovl.png"
overlay0_full_screen = true
overlay0_descs = 0