# Kid Dracula for Retropie 4.x - Retroarch
# NES
# Overlay created by Lilbud (nov 2017)
#
# Original logos, artwork and trademarks are property of their respective owners.
 
overlays = 1
overlay0_overlay = "Akumajou Special - Boku Dracula-kun (Japan)_lilbud-ovl.png"
overlay0_full_screen = true
overlay0_descs = 0