# Pang Overlay for Retropie 4.x - Retroarch
# Lr-Mame2003 (latest version with correct aspect ratio) w 1080p Display
# 
# Overlay created by UDb23 (Dec 2016)
# Original logos, artwork and trademarks are property of their respective owners. 

overlays = 1
overlay0_overlay = "pang_udb-ovl.png"
overlay0_rect = "0.0,0.0,1.0,1.0"
overlay0_full_screen = true
overlay0_descs = 0 